[Unit]
Description=Zabbix Agent 2 Custom
After=syslog.target
After=network.target

[Service]
Environment="CONFFILE=/opt/zabbix/conf.d/zabbix_agent2_custom.conf"
EnvironmentFile=-/etc/sysconfig/zabbix-agent2
Type=simple
Restart=on-failure
PIDFile=/opt/zabbix/pid/zabbix_agent2.pid
KillMode=control-group
ExecStart=/opt/zabbix/zabbix_agent2 -c $CONFFILE
ExecStop=/bin/kill -SIGTERM $MAINPID
RestartSec=10s
User=zabbix
Group=zabbix
LimitNOFILE=8192

[Install]
WantedBy=multi-user.target